* {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    width: 100%;
    background-color: #EEEEEE;
}

/*main <start>*/
main {
    width: 100%;
}

/*repair-section-1 <start>*/

.repair-heading {
    padding-top: 6rem;
    padding-bottom: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

.repair-heading h1 {
    font-size: 2rem;
    text-align: center;
    color: #A91D3A;
}

/*repair-heading <end>*/

/*mobile-problems <start>*/
.mobile-problems {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mobile-problems video {
    width: 21rem;
    padding-bottom: 2rem;
}

.mobile-problems img {
    position: absolute;
}

.mobile-problems h2 {
    position: absolute;
    text-align: center;
    font-size: 2vmax;
    transform: translateY(50%);
    color: #EEEEEE;
}

#box1 {
    width: 14rem;
    margin: 0rem 21rem 7rem 0rem;
}

#box2 {
    width: 12rem;
    margin: 13rem 21rem 0rem 0rem;
}

#box3 {
    margin: 0rem 0rem 23rem 27rem;
    width: 17rem;
}

#box4 {
    width: 15rem;
    margin: 5rem 0rem 0rem 24rem;
}

#box5 {
    width: 15rem;
    margin: 26rem 0rem 0rem 25rem;
}

/*repair-section-1 <end>*/

/*repair-section-2 <start>*/
.repair-section-2 {
    min-height: 34rem;
    background-color: #151515;
    display: flex;
    justify-content: center;
    gap: 10rem;
}

.left-repair-cont {
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-repair-cont img {
    width: 23rem;
}

.right-repair-cont {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*repair-section-2 <end>*/

/*form <start>*/
form {
    height: 28rem;
    width: 21rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #621922;
    text-transform: capitalize;
    border-radius: 10px;
    border-right: 1px solid #EEEEEE;
}

form h2 {
    color: #EEEEEE;
    text-align: center;
    padding: 8% 0%;
    font-size: 1.2rem;
}

.main-form {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 82%;
}

.form-text {
    color: #EEEEEE;
    font-size: 1rem;
    font-weight: 600;
}

.input-text {
    margin: 2% 0% 7% 0%;
    font-size: 1rem;
    padding: 1% 2%;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: #E2B0BA;
    width: 75%;
}

.message-text {
    font-size: 1rem;
    padding: 1% 2%;
    height: 60px;
    margin-top: 2%;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: #E2B0BA;
}

.submit-btn {
    margin-top: 0.8rem;
    width: 4.5rem;
    height: 2rem;
    font-size: 1rem;
    border-radius: 5px;
    background-color: #A91D3A;
    color: #EEEEEE;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease;
}

.submit-btn:hover {
    background-color: #401216;
    color: #E2B0BA;
}

/*form <end>*/
/*main <end>*/


@media(max-width: 768px) {

    .repair-section-2 {
        flex-direction: column;
    }

    .right-repair-cont {
        padding-bottom: 3rem;
    }

    .repair-section-2 {
        gap: 3rem
    }
}

@media(max-width: 600px) {

    #box1 {
        width: 10rem;
        margin: 0rem 17rem 7rem 0rem;
    }

    #box2 {
        width: 10rem;
        margin: 17rem 18rem 0rem 0rem;
    }

    #box3 {
        margin: 0rem 0rem 19rem 17rem;
        width: 10rem;
    }

    #box4 {
        width: 10rem;
        margin: 5rem 0rem 0rem 17rem;
    }

    #box5 {
        width: 10rem;
        margin: 26rem 0rem 0rem 17rem;
    }

    .mobile-problems video {
        width: 17rem;
    }
}

@media(max-width: 425px) {
    .mobile-problems video {
        width: 14rem;
    }

    #box1 {
        width: 9rem;
        margin: 0rem 11rem 7rem 0rem;
    }

    #box2 {
        width: 9rem;
        margin: 17rem 11rem 0rem 0rem;
    }

    #box3 {
        margin: 0rem 0rem 19rem 11rem;
        width: 9rem;
    }

    #box4 {
        width: 9rem;
        margin: 5rem 0rem 0rem 11rem;
    }

    #box5 {
        width: 9rem;
        margin: 14rem 0rem 0rem 11rem;
    }
}