* {
    margin: 0;
    padding: 0;
    text-transform: capitalize;

}

body {
    height: 100%;
    width: 100%;
    background-color: #EEEEEE;
}

.shop-all-text {
    border-bottom: 1px solid #A91D3A;
}

/*main <start>*/
main {
    padding-top: 10vh;
    height: 100%;
    width: 100%;
}

.main-section {
    height: 100%;
    width: 100%;
}


/* cart-page <start>*/
.cart-main-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

.cart-products-container {
    height: 80vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4vmax;
    overflow: auto;
}

.cart-product-image img {
    height: 7vmax;
}

.cart-product {
    display: flex;
    align-items: center;
    gap: 1.5vmax;
    position: relative;
}

.cart-product-details h2 {
    font-size: 1.2vmax;
}

.cart-product-name-price {
    display: flex;
}

.cart-product-name-price h2 {
    width: 15vmax;
}

.cart-product-name-price h3 {
    font-weight: 545;
    font-size: 1vmax;
}

.cart-product-name-price .only-price {
    color: #151515;
}


.product-quantity-btn {
    margin-top: 0.6vmax;
    display: flex;
}

.product-quantity-btn button {
    width: 2.2vmax;
    height: 1.9vmax;
    font-size: 1.2vmax;
    font-weight: 500;
    color: #565656;
    box-sizing: border-box;
    border: 0.5px solid #565656;
    cursor: pointer;
    transition: all 0.2s ease;
}

.product-quantity-btn button:hover {
    background-color: #dbdbdb;
}

.decrement {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.increment {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.number-of-quantity {
    width: 2.2vmax;
    height: 1.9vmax;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2vmax;
    box-sizing: border-box;
    border-top: 0.5px solid #565656;
    border-bottom: 0.5px solid #565656;
    outline: none;
    background-color: #EEEEEE;
    color: #565656;
    font-weight: 500;
}

.trash-icon {
    font-size: 1.3vmax;
    cursor: pointer;
    position: absolute;
    left: 18vmax;
    top: 4.6vmax;
}

.cart-product-border {
    position: absolute;
    border-bottom: 2px solid #D6D6D6;
    width: 21vmax;
    bottom: -18px;
    left: 39px;
}

#remove-empty-page {
    display: none;
}

.cart-page {
    height: 100%;
    width: 100vw;
    position: fixed;
    background-color: #EEEEEE;
    z-index: 999;
}

#cart-hide {
    display: none;
}

.cart-navigation {
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 26vw;
}

.cart-page-logo {
    margin-left: 0.8em;
}

.three-process {
    display: flex;
    gap: 15vmax;
    position: relative;
    align-items: center;
    height: 0.2vmax;
    background-color: #A0A0A0;
}

#cart-close-icon {
    font-size: 2vw;
    cursor: pointer;
    color: #979797;
}

#process-line {
    position: absolute;
    width: 1vmax;
    height: 0.3vmax;
    background-color: blue;
    z-index: 2;
}

.three-process i {
    font-size: 1.5vmax;
    height: 3.1vmax;
    width: 3.1vmax;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid #A0A0A0;
    color: #A0A0A0;
    background-color: #EEEEEE;
    position: relative;
    z-index: 10;
}

#cart-process i {
    color: #EEEEEE;
    background-color: #A91D3A;
    border-color: #A91D3A;
}

.empty-cart-container {
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 9vw;
}

.empty-cart-container img {
    height: 25vmax;
}

.empty-cart-text-btn {
    display: flex;
    flex-direction: column;
    gap: 2vw;
}

.empty-cart-text-btn h2 {
    font-size: 2vmax;
    color: #A91D3A;
    text-transform: uppercase;
}

.empty-cart-text-btn a {
    width: 11.9vw;
}

.empty-cart-text-btn button {
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 750;
    font-size: 1vmax;
    padding: 0.5vmax 3vmax;
    border-radius: 3px;
    background-color: #A91D3A;
    color: #EEEEEE;
    border: none;
    transition: all 0.2s ease;
}

.empty-cart-text-btn button:hover {
    background-color: #731225;
}

.cart-products-bill {
    height: 90vh;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.3vmax;
}

.cart-bill-container {
    background-color: #FFFFFF;
    height: 22vmax;
    width: 22vmax;
    position: relative;
    border-left: 2px solid #A91D3A;
}

.cart-bill-container h3 {
    color: #A91D3A;
    margin: 1.5vmax 0vmax 2.5vmax 1.5vmax;
    font-size: 1.2vmax;
}

.cart-bill-container h4 {
    font-size: 1vmax;
    color: #5C5C5C;
    font-weight: 500;
}

.cart-total-mrp {
    width: 100%;
    display: flex;
    gap: 4vmax;
    margin-left: 1.5vmax;
}

#total-mrp-price::before{
    content: "RS ";
}

.coupon-discount {
    width: 100%;
    display: flex;
    gap: 3vmax;
    margin: 2vmax 0vmax 2vmax 1.5vmax;
    align-items: center;
}

.apply-coupon {
    display: flex;
    align-items: center;
    gap: 0.5vmax;
}

.apply-coupon input {
    width: 4vmax;
    padding: 0.2vmax;
    outline: none;
    border: 1px solid #A91D3A;
    border-radius: 5px;
    color: #A91D3A;
    text-transform: uppercase;
}

.apply-coupon p {
    font-size: 0.9vmax;
    color: #A91D3A;
    cursor: pointer;
}

.gift-package {
    width: 100%;
    display: flex;
    gap: 3vmax;
    margin: 1vmax 0vmax 1vmax 1.5vmax;
    align-items: center;
}

.gift-package h4 {
    color: #BFBFBF;
}

.gift-package input {
    cursor: pointer;
}

.bill-price-line {
    width: 20vmax;
    height: 0.02vmax;
    background-color: #BFBFBF;
    position: absolute;
    left: 13px;
    margin-top: 1vmax;
}

.cart-total-amt {
    width: 100%;
    display: flex;
    gap: 5vmax;
    margin: 3vmax 0vmax 1vmax 1.5vmax;
}

#total-amount::before{
    content: "RS ";
}

.payments-container {
    width: 100%;
    display: flex;
    align-items: center;
    margin-left: 8vmax;
}

.payments-container img {
    height: 2.5vmax;
}

#upi-payment {
    height: 3.2vmax;
    margin-left: 0.1vmax;
}

#place-order-btn {
    font-size: 1vmax;
    font-weight: 700;
    padding: 1vmax 7.2vmax;
    cursor: pointer;
    border-radius: 5px;
    color: #EEEEEE;
    background-color: #A91D3A;
    border: 2px solid #A91D3A;
    transition: all 0.2s ease;
}

#place-order-btn:hover {
    background-color: #731225;
}

/* responsive */
@media(max-width: 768px) {
    .cart-page {
        overflow: auto;
    }

    .cart-navigation {
        gap: 20vw;
    }

    .three-process i {
        font-size: 2.5vw;
        height: 5vw;
        width: 5vw;
    }

    .cart-main-container {
        flex-direction: column;
        height: auto;
    }

    #cart-close-icon {
        font-size: 4vw;
    }

    /* cart products */
    .cart-products-container {
        height: 60vh;
        margin-top: 2vh;
    }


    .cart-product-image img {
        height: 10vw;
    }

    .cart-product-name-price h2 {
        width: 24vw;
    }

    .cart-product-details h2 {
        font-size: 1.7vw;
    }

    .cart-product-name-price h3 {
        font-size: 1.6vw;
    }

    .trash-icon {
        font-size: 1.7vw;
        left: 25vw;
        top: 6.8vw;
    }

    .product-quantity-btn button {
        width: 3vw;
        height: 3vw;
        font-size: 2vw;
    }

    .number-of-quantity {
        width: 3vw;
        height: 3vw;
        font-size: 2vw;
    }

    .cart-product-border {
        width: 30vw;
    }

    /* product bill */
    .cart-products-bill {
        height: auto;
        margin-bottom: 3vw;
        padding-top: 2vw;
    }

    .cart-bill-container {
        height: 37vw;
        width: 34vw;
    }

    .cart-bill-container h3 {
        font-size: 2.5vw;
        margin: 2vw 0vw 5vw 2.5vw;
    }

    .cart-bill-container h4 {
        font-size: 1.8vw;
    }

    .apply-coupon p {
        font-size: 1.4vw;
    }

    .payments-container {
        margin-left: 11vw;
    }

    .payments-container img {
        height: 4vw;
    }

    #upi-payment {
        height: 5vw;
    }

    .cart-total-mrp {
        margin-left: 2.5vw;
    }

    .coupon-discount {
        margin: 2.5vw 0vw 2.5vw 2.5vw;
    }

    .apply-coupon input {
        width: 6vw;
    }

    .gift-package {
        margin: 2.5vw 0vw 2.5vw 2.5vw;
    }

    .cart-total-amt {
        margin: 5vw 0vw 2.5vw 2.5vw;
    }

    #place-order-btn {
        font-size: 2vw;
        padding: 1vw 9.5vw;
    }

    .bill-price-line {
        width: 30vw;
    }

}

@media(max-width: 426px) {
    
    /* cart-page */
    .cart-navigation {
        gap: 8vw;
    }

    .empty-cart-container {
        flex-direction: column;
    }

    .empty-cart-container img {
        height: 50vw;
    }

    .three-process i {
        font-size: 3.5vw;
        height: 6.1vw;
        width: 6.1vw;
    }

    .empty-cart-text-btn {
        align-items: center;
        gap: 5vw;
    }

    .empty-cart-text-btn h2 {
        font-size: 5vw;
    }

    .empty-cart-text-btn a {
        width: 62%;
    }

    .empty-cart-text-btn button {
        font-size: 3vw;
        padding: 1.5vw 8vw;
    }

    .three-process i {
        font-size: 3.2vw;
        height: 6vw;
        width: 6vw;
    }

    .cart-main-container {
        flex-direction: column;
        height: auto;
    }

    #cart-close-icon {
        font-size: 4vw;
    }

    /* cart products */
    
    .cart-products-container{
        width: 80%;
    }

    .cart-product {
        gap: 4vw;
    }

    .cart-product-image img {
        height: 18vw;
    }

    .cart-product-name-price h2 {
        width: 33vw;
    }

    .cart-product-details h2 {
        font-size: 3vw;
    }

    .cart-product-name-price h3 {
        font-size: 2.6vw;
    }

    .trash-icon {
        font-size: 3vw;
        left: 43vw;
        top: 11.8vw;
    }

    .product-quantity-btn button {
        width: 5vw;
        height: 5vw;
        font-size: 4vw;
    }

    .number-of-quantity {
        width: 5vw;
        height: 5vw;
        font-size: 3vw;
    }

    .cart-product-border {
        width: 44vw;
    }

    #cart-close-icon {
        font-size: 5vw;
    }

    /* product bill */
    .cart-products-bill {
        height: auto;
        margin-bottom: 3vw;
        padding-top: 2vw;
    }

    .cart-bill-container {
        height: 56vw;
        width: 54vw;
    }

    .cart-bill-container h3 {
        font-size: 3.5vw;
        margin: 4vw 0vw 7vw 5vw;
    }

    .cart-bill-container h4 {
        font-size: 3vw;
    }

    .apply-coupon p {
        font-size: 2.4vw;
    }

    .payments-container {
        margin-left: 20vw;
    }

    .payments-container img {
        height: 6vw;
    }

    #upi-payment {
        height: 7.2vw;
    }

    .cart-total-mrp {
        margin-left: 5vw;
    }

    .coupon-discount {
        margin: 4.5vw 0vw 4.5vw 5vw;
    }

    .apply-coupon input {
        width: 9vw;
    }

    .gift-package {
        margin: 2.5vw 0vw 2.5vw 5vw;
    }

    .cart-total-amt {
        margin: 7vw 0vw 1.5vw 5vw;
    }

    #place-order-btn {
        font-size: 2.5vw;
        padding: 1.5vw;
        width: 54vw;
    }

    .bill-price-line {
        width: 47vw;
    }
}


/* cart-page <end>*/

/* add to cart popup */
.pop-up {
    background-color: #dadada91;
    backdrop-filter: blur(10px);
    display: flex;
    gap: 0.9vmax;
    align-items: center;
    height: 5vmax;
    width: 18vmax;
    border-radius: 15px;
    justify-content: center;
    position: fixed;
    z-index: 90;
    right: -20%;
    top: 12%;
    transition: all 0.2s ease;
}

.pop-up img {
    width: 4vmax;
}

.pop-up h3 {
    color: #979797;
    font-size: 1.2vmax;
    text-transform: uppercase;
}

/*.shop-all-heading <start>*/
.shop-all-heading {
    padding-top: 5%;
    padding-bottom: 5%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.shop-all-heading h1 {
    font-size: 1.4vmax;
    width: 10%;
    text-align: center;
    padding: 3px 17px;
    color: #A91D3A;
    border: 1px solid #151515;
}

/*.shop-all-heading <end>*/

/*.filter-price-container <start>*/

.filter-price-container h4 {
    display: inline-block;
    font-size: 1vmax;
    font-weight: 400;
    margin-left: 13vw;
    margin-bottom: 2vh;
    color: #151515;
    cursor: pointer;
    background-color: #EEEEEE;
    position: relative;
    z-index: 2;
    padding: 3.5px 10px;
    border-radius: 2px;
    border: 1px solid #EEEEEE;
    transition: all 0.2s ease;
}

.filter-price-container h4:hover {
    background-color: #d0d0d0;
}

.filter-price-container h4 i {
    font-size: 1vmax;
    color: #151515;
}

#filter-prices {
    background-color: #A91D3A;
    border: 1px solid #A91D3A;
    color: #EEEEEE;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
    font-size: 1vmax;
    padding: 2.5px 5px;
    margin-left: 3px;
    transform: translateX(-7.5em);
    transition: all 0.3s ease;
    text-align: center;
}

.price-categories {
    background-color: #A91D3A;
    color: #EEEEEE;
    cursor: pointer;
}

/*.filter-price-container <end>*/



/* product-pages */
#product-page-1 {
    display: none;
}

#product-page-2 {
    display: none;
}

#product-page-3 {
    display: none;
}

/*.shop-cards-container <start>*/
.shop-cards-container {
    width: 100%;
    display: flex;
    gap: 11vw;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    height: 100%;
    width: 17vmax;
    border: 2px solid #151515;
    border-radius: 15px;
    background-color: #EEEEEE;
    transition: filter 0.3s ease;
}

.card:hover {
    filter: drop-shadow(0.5vw 0.7vw #1515159b);
}

.company-name {
    display: flex;
    justify-content: flex-end;
    padding: 5px 10px;
}

.company-name h3 {
    font-weight: 500;
    font-size: 1vmax;
}

.product-image {
    display: flex;
    justify-content: center;
}

.charger-img {
    height: 11vmax;
    padding: 2vmax;
    transition: all 1s ease;
}

.wire-earphone-img {
    margin-top: 1.7vmax;
    height: 10vmax;
    padding-bottom: 3.3vmax;
}

.neckband-speaker-img {
    margin-top: 1.7vmax;
    height: 12vmax;
    padding-bottom: 1.5vmax;
}

.UA-neckband-1 {
    height: 14vmax;
    padding: 0.6vmax;
    margin-top: 0;
}

.earbuds-smartWatch-cable-img {
    height: 13vmax;
    margin: 1vmax 0;
}

.product-details h3 {
    font-size: 1.1vmax;
    margin-left: 10px;
    font-weight: 500;
}

.product-price-and-cart {
    display: flex;
    gap: 2.5vmax;
    margin-top: 0.4vmax;
    padding-bottom: 1vmax;

}

.product-price-and-cart .product-price {
    display: flex;
    gap: 6px;
    margin-left: 10px;
    align-items: center;
}


.product-price h4 {
    color: #151515;
    font-size: 1.1vmax;
    font-weight: 500;
}

.product-price p {
    font-size: 0.8vmax;
    text-decoration: line-through;
    margin-top: 0.2vmax;
}

.product-cart button {
    font-size: 0.8vmax;
    color: #EEEEEE;
    background-color: #151515;
    border: 1px solid #151515;
    height: 1.5vmax;
    width: 5.5vmax;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.product-cart button:hover {
    color: #EEEEEE;
    background-color: #A91D3A;
    border: 1px solid #A91D3A;
}

/*.shop-cards-container <end>*/

/*switch-pages <start>*/
.switch-pages {
    width: 100%;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vmax;

}

.switch-pages button {
    font-size: 1.3vmax;
    padding: 5px 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    border: 2px solid #EEEEEE;
}

.switch-pages #btn-1 {
    border: 2px solid #A91D3A;
}

#rigth-side {
    cursor: pointer;
    padding: 0.5vw;
    background-color: #A91D3A;
    color: #EEEEEE;
}

#rigth-side:hover {
    background-color: #731225;
}

/*switch-pages <end>*/

/*main <end>*/

@media(max-width: 1024px) {
    .card {
        height: 22vmax;
    }

    #filter-prices {
        transform: translateX(-8.5em);
    }
}

@media(max-width: 768px) {

    /*cart-page*/
    .empty-cart-text-btn button {
        font-size: 1.2vmax;
        padding: 0.8vmax 3vmax;
    }

    .empty-cart-text-btn a {
        width: 13.1vw;
    }


    /*shop-all-heading*/
    .shop-all-heading h1 {
        font-size: 3vw;
        width: 21%;
    }

    /* filter-price-container */
    .filter-price-container h4 {
        font-size: 2.3vw;
    }

    .filter-price-container h4 i {
        font-size: 2.3vw;
    }

    #filter-prices {
        font-size: 2vmax;
        padding: 2.9px 6px;
    }

    /*shop-cards-container*/
    .shop-cards-container {
        gap: 10vw;
    }

    .card {
        height: 40vw;
        width: 30.5vw;
    }

    .company-name h3 {
        font-size: 2vw;
    }

    /* img-height */
    .charger-img {
        padding: 2.5vw 0 1vw 0;
        height: 20vw;
    }

    .wire-earphone-img {
        height: 18vw;
        padding: 0;
    }

    .neckband-speaker-img {
        height: 20vw;
        margin: 0;
    }

    .UA-neckband-1 {
        height: 23vw;
    }

    .earbuds-smartWatch-cable-img {
        height: 20vw;
    }

    /* font-size */
    .product-details h3 {
        font-size: 2.2vw;
    }

    .product-price h4 {
        font-size: 2.3vw;
    }

    .product-price p {
        font-size: 1.6vw;
    }

    .product-cart button {
        font-size: 1.4vw;
        height: 3vw;
        width: 9vw;
    }

    .product-details {
        margin-top: 4vw;
    }

    /* switch-pages */
    .switch-pages button {
        font-size: 3vw;
    }
}

@media(max-width: 600px) {
    .card {
        height: 50vw;
        width: 35.5vw;
        border: 1px solid #151515;
    }

    .company-name h3 {
        font-size: 2vw;
    }

    /* img-height */
    .charger-img {
        height: 25vw;
    }

    .wire-earphone-img {
        height: 25vw;
    }

    .neckband-speaker-img {
        height: 26vw;
    }

    .earbuds-smartWatch-cable-img {
        /* height: 20vw; */
        margin: 4vw 0;
    }

    .UA-neckband-1 {
        height: 27vw;
    }

    /* font-size */
    .product-details h3 {
        font-size: 2.5vw;
        width: 100%;
    }

    .product-price h4 {
        font-size: 2.7vw;
    }

    .product-price p {
        font-size: 2vw;
    }

    .product-cart button {
        font-size: 2vw;
        height: 4vw;
        width: 15vw;
    }

    .product-details {
        margin-top: 0;
    }

    .wire-earphone-img {
        padding-bottom: 2vw;

    }

    .earbuds-smartWatch-cable-img {
        height: 24vw;
        margin: 2vw 0;
    }

    .neckband-speaker-img {
        margin-top: 0;
    }

    .product-price-and-cart {
        flex-direction: column;
        gap: 0;
    }

    .product-price-and-cart button {
        margin: 2.5vw 2vw;
    }

}

@media(max-width: 426px) {
    .pop-up {
        height: 11vw;
        width: 45vw;
        right: -46%;
    }

    .pop-up img {
        width: 10vw;
    }

    .pop-up h3 {
        font-size: 3vw;
    }
}

@media(max-width: 467px) {

    /* shop-all-heading */
    .shop-all-heading h1 {
        font-size: 4vw;
        width: 40%;
        margin-bottom: 12vw;
    }

    /* filter-price-container */
    .filter-price-container h4 {
        font-size: 3vw;
        margin-left: 9vw;
    }

    .filter-price-container h4 i {
        font-size: 3vw;
    }

    /*shop-all-heading*/
    .card {
        height: 53vw;
        width: 37.5vw;
    }

    .company-name h3 {
        font-size: 2.5vw;
    }

    .product-details h3 {
        font-size: 2.8vw;
        width: 90%;
    }

    .product-price-and-cart button {
        margin: 2vw 2vw;
    }

    .charger-img {
        padding-bottom: 3vw;
    }

    /*switch-pages */
    .switch-pages {
        height: 20vh;
    }

    .UA-neckband-1 {
        height: 29vw;
    }
}

@media(max-width: 375px) {
    #filter-prices {
        font-size: 3vw;
    }

    .filter-price-container h4 {
        padding: 4.5px 10px;
    }

    .three-process {
        gap: 19vw;
    }

    .empty-cart-text-btn button {
        font-size: 3.5vw;
        padding: 1.5vw 6vw;
    }
}