* {
    margin: 0;
    padding: 0;
    text-transform: capitalize;

}

body {
    height: 100%;
    width: 100%;
    background-color: #EEEEEE;
}

.shop-all-text {
    border-bottom: 1px solid #A91D3A;
}

/*main <start>*/
main {
    padding-top: 10vh;
    height: 100%;
    width: 100%;
}

.main-section {
    height: 100%;
    width: 100%;
}


/* cart-page <start>*/
.cart-main-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

.cart-products-container {
    height: 28rem;
    width: 35rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    overflow: auto;
}

.cart-product-image img {
    height: 6rem;
}

.cart-product {
    display: flex;
    align-items: center;
    gap: 1.5vmax;
    position: relative;
}

.cart-product-details h2 {
    font-size: 0.86rem;
}

.cart-product-name-price {
    display: flex;
}

.cart-product-name-price h2 {
    width: 10rem;
}

.cart-product-name-price h3 {
    font-weight: 545;
    font-size: 0.8rem;
}

.cart-product-name-price .only-price {
    color: #151515;
}



.product-quantity-btn {
    margin-top: 0.6rem;
    display: flex;
}

.product-quantity-btn button:hover {
    background-color: #dbdbdb;
}

.decrement {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.increment {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.number-of-quantity {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
    box-sizing: border-box;
    border-top: 0.5px solid #565656;
    border-bottom: 0.5px solid #565656;
    outline: none;
    background-color: #EEEEEE;
    color: #565656;
    font-weight: 500;
}

.trash-icon {
    font-size: 1rem;
    cursor: pointer;
    position: absolute;
    left: 14.5rem;
    top: 3.5rem;
}

.cart-product-border {
    position: absolute;
    border-bottom: 2px solid #D6D6D6;
    width: 21vmax;
    bottom: -18px;
    left: 39px;
}

#remove-empty-page {
    display: none;
}

.cart-page {
    height: 100%;
    width: 100vw;
    position: fixed;
    background-color: #EEEEEE;
    z-index: 999;
}

#cart-hide {
    display: none;
}

.cart-navigation {
    height: 4rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20rem;
}

.three-process {
    display: flex;
    gap: 11rem;
    position: relative;
    align-items: center;
    height: 0.2rem;
    background-color: #A0A0A0;
}

#cart-close-icon {
    font-size: 2rem;
    cursor: pointer;
    color: #979797;
}

#process-line {
    position: absolute;
    width: 0rem;
    height: 0.3rem;
    background-color: blue;
    z-index: 2;
}

.three-process i {
    font-size: 1.4rem;
    height: 3rem;
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid #A0A0A0;
    color: #A0A0A0;
    background-color: #EEEEEE;
    position: relative;
    z-index: 10;
}

#cart-process i {
    color: #EEEEEE;
    background-color: #A91D3A;
    border-color: #A91D3A;
}

.empty-cart-container {
    height: 31rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.empty-cart-container img {
    height: 22rem;
}

.empty-cart-text-btn {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.empty-cart-text-btn h2 {
    font-size: 1.7rem;
    color: #A91D3A;
    text-transform: uppercase;
}

.empty-cart-text-btn a {
    width: 11.9vw;
}

.empty-cart-text-btn button {
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 750;
    font-size: 1rem;
    width: 10rem;
    padding: 0.8rem 1rem;
    border-radius: 3px;
    background-color: #A91D3A;
    color: #EEEEEE;
    border: none;
    transition: all 0.2s ease;
}

.empty-cart-text-btn button:hover {
    background-color: #731225;
}

.cart-products-bill {
    height: 39rem;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

.cart-bill-container {
    background-color: #FFFFFF;
    height: 18rem;
    width: 18rem;
    position: relative;
    border-left: 2px solid #A91D3A;
}

.cart-bill-container h3 {
    color: #A91D3A;
    margin: 1.1rem 0rem 2.1rem 1.1rem;
    font-size: 1rem;
}

.cart-bill-container h4 {
    font-size: 0.8rem;
    color: #5C5C5C;
    font-weight: 500;
}

.cart-total-mrp {
    width: 100%;
    display: flex;
    gap: 3rem;
    margin-left: 1.1rem;
}

#total-mrp-price::before {
    content: "RS ";
}

.coupon-discount {
    width: 100%;
    display: flex;
    gap: 2rem;
    margin: 1.8rem 0rem 1.8rem 1.1rem;
    align-items: center;
}

.apply-coupon {
    display: flex;
    align-items: center;
    gap: 0.4rem;
}

.apply-coupon input {
    width: 3rem;
    padding: 0.2rem;
    outline: none;
    border: 1px solid #A91D3A;
    border-radius: 5px;
    color: #A91D3A;
    text-transform: uppercase;
}

.apply-coupon p {
    font-size: 0.7rem;
    color: #A91D3A;
    cursor: pointer;
}

.gift-package {
    width: 100%;
    display: flex;
    gap: 2rem;
    margin: 1rem 0rem 1rem 1.1rem;
    align-items: center;
}

.gift-package h4 {
    color: #BFBFBF;
}

.gift-package input {
    cursor: pointer;
}

.bill-price-line {
    width: 16.4rem;
    height: 0.01rem;
    background-color: #BFBFBF;
    position: absolute;
    left: 13px;
    margin-top: 0.7rem 11.2px;
}

.cart-total-amt {
    width: 100%;
    display: flex;
    gap: 3rem;
    margin: 2.4rem 0rem 0.6rem 2rem;
}

#total-amount::before {
    content: "RS ";
}

.payments-container {
    width: 100%;
    display: flex;
    align-items: center;
    margin-left: 7rem;
}

.payments-container img {
    height: 2rem;
}

#upi-payment {
    height: 2.5rem;
    margin-left: 0.1rem;
}

#place-order-btn {
    font-size: 1rem;
    font-weight: 700;
    width: 18rem;
    padding: 0.7rem 5.23rem;
    cursor: pointer;
    border-radius: 5px;
    color: #EEEEEE;
    background-color: #A91D3A;
    border: 2px solid #A91D3A;
    transition: all 0.2s ease;
}

#place-order-btn:hover {
    background-color: #731225;
}

#cart-logo {
    font-size: 1.5rem;
    font-weight: 600;
    color: #151515;
}




/* add to cart popup */
.pop-up {
    background-color: #dadada91;
    backdrop-filter: blur(10px);
    display: flex;
    gap: 0.9vmax;
    align-items: center;
    height: 5vmax;
    width: 18vmax;
    border-radius: 15px;
    justify-content: center;
    position: fixed;
    z-index: 90;
    right: -20%;
    top: 12%;
    transition: all 0.2s ease;
}

.pop-up img {
    width: 4vmax;
}

.pop-up h3 {
    color: #979797;
    font-size: 1.2vmax;
    text-transform: uppercase;
}

/*.shop-all-heading <start>*/
.shop-all-heading {
    padding-top: 3rem;
    padding-bottom: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

.shop-all-heading h1 {
    font-size: 2rem;
    text-align: center;
    color: var(--dark-color);
}

/*.shop-all-heading <end>*/

/*.filter-price-container <start>*/

.filter-main-contaner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.filter-price-container {
    width: 68rem;
}

.filter-price-container h4 {
    display: inline-block;
    font-size: 0.9rem;
    font-weight: 400;
    margin-bottom: 1rem;
    margin-left: 0.9rem;
    color: #151515;
    cursor: pointer;
    background-color: #EEEEEE;
    position: relative;
    z-index: 2;
    padding: 3.5px 10px;
    border-radius: 2px;
    border: 1px solid #EEEEEE;
    transition: all 0.2s ease;
}

.filter-price-container h4:hover {
    background-color: #d0d0d0;
}

.filter-price-container h4 i {
    font-size: 1rem;
    color: #151515;
}

#filter-prices {
    background-color: #A91D3A;
    border: 1px solid #A91D3A;
    color: #EEEEEE;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
    font-size: 0.8rem;
    padding: 2.5px 5px;
    margin-left: 3px;
    transform: translateX(-7.5em);
    transition: all 0.3s ease;
    text-align: center;
}

.price-categories {
    background-color: #A91D3A;
    color: #EEEEEE;
    cursor: pointer;
}

/*.filter-price-container <end>*/



/* product-pages */
#product-page-1 {
    display: none;
}

#product-page-2 {
    display: none;
}

#product-page-3 {
    display: none;
}

/*.products-main-container <start>*/

.products-main-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.shop-cards-container {
    width: 68rem;
    display: flex;
    gap: 3rem;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    height: 16.5rem;
    width: 14rem;
    border: 0.009rem solid #151515;
    border-radius: 0.7rem;
    background-color: #EEEEEE;
    transition: filter 0.3s ease;
}

.card:hover {
    filter: drop-shadow(0.5vw 0.7vw #1515159b);
}

.company-name {
    display: flex;
    justify-content: flex-end;
    padding: 5px 10px;
}

.company-name h3 {
    font-weight: 500;
    font-size: 0.8rem;
}

.product-image {
    display: flex;
    justify-content: center;
}

.charger-img {
    height: 9rem;
    padding: 1.5rem;
    transition: all 1s ease;
}

.wire-earphone-img {
    margin-top: 1.1rem;
    height: 9.5rem;
    padding-bottom: 1.5rem;
}

.neckband-speaker-img {
    margin-top: 1rem;
    height: 10rem;
    padding-bottom: 1.2rem;
}

.UA-neckband-1 {
    height: 12rem;
    margin-top: 0;
}

.earbuds-smartWatch-cable-img {
    height: 10rem;
    margin: 1rem 0;
}

.product-details h3 {
    font-size: 0.9rem;
    margin-left: 0.59rem;
    font-weight: 500;
}

.product-price {
    display: flex;
    gap: 6px;
    margin-left: 10px;
    align-items: center;
}


.product-price h4 {
    color: #151515;
    font-size: 1rem;
    font-weight: 500;
}

.product-price p {
    font-size: 0.7rem;
    text-decoration: line-through;
    margin-top: 0.1rem;
}


/*switch-pages <start>*/
.switch-pages {
    width: 100%;
    height: 9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;

}

.switch-pages button {
    font-size: 1rem;
    padding: 5px 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    border: 2px solid #EEEEEE;
}

.switch-pages #btn-1 {
    border: 2px solid #A91D3A;
}

#rigth-side {
    cursor: pointer;
    padding: 0.5vw;
    background-color: #A91D3A;
    color: #EEEEEE;
}

#rigth-side:hover {
    background-color: #731225;
}

/*switch-pages <end>*/

/*main <end>*/



@media(max-width: 426px) {
    .pop-up {
        height: 11vw;
        width: 45vw;
        right: -46%;
    }

    .pop-up img {
        width: 10vw;
    }

    .pop-up h3 {
        font-size: 3vw;
    }
}




/* responsive */
@media(max-width: 768px) {


    .related-products h2 {
        width: 18rem;
    }

    .empty-cart-container {
        flex-direction: column;
    }

    .cart-page {
        overflow: auto;
    }

    .cart-navigation {
        gap: 4rem;
    }

    .three-process i {
        font-size: 1rem;
        height: 2rem;
        width: 2rem;
    }

    .cart-main-container {
        flex-direction: column;
        height: auto;
    }


}

@media(max-width: 600px) {

    .shop-cards-container {
        gap: 1rem;
    }

    .empty-cart-container img {
        height: 16rem;
    }

    .three-process {
        display: flex;
        gap: 5rem;
    }

    .cart-navigation {
        gap: 2rem;
    }

    .cart-products-bill {
        height: 29rem;
    }
}

@media(max-width: 375px) {
    .three-process i {
        font-size: 0.8rem;
        height: 1.5rem;
        width: 1.5rem;
    }

    #cart-close-icon {
        font-size: 1.5rem;
    }

    .cart-navigation {
        gap: 1rem;
    }

    .payments-container {
        width: 0%;
    }

    .cart-products-container {
        width: 21rem;
    }


}


/* cart-page <end>*/